@import "https://fonts.googleapis.com/css?family=lato";
body{
    
  background-repeat: inherit;
  background: linear-gradient(-60deg,#7561cd,#98ea85,#df9179,#eb7ca7,#7561cd,#98ea85,#df9179,#eb7ca7 );
  background-size:100% 500%;
  position: relative ;
  animation: 10s ease-in-out infinite;
          
}

select{
      
  -webkit-text-stroke: 1px rgb(250, 22, 30);
 
 
}

@keyframes change 
{
  0%
  {
    background-position: 0 50%;
  }
  50%
  {
    background-position: 100 50%;
  }
  100%
  {
    background-position: 0 50%;
  }
}